
.myNav ul li {
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

#mynav {
    padding-left: 50px;
}

div .login-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(123, 123, 123, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2)
}

div #exitButton {
    color: cadetblue;
    cursor: hand;
}

ul #customer-nav {
    margin: 30px;
}

.tab-div {
    height: 50px;
    margin-top: 20px;
}

.div-content {
    margin-top: 20px;
}

.public-tab {
    border-bottom: 1px solid silver;
    margin-top: 20px;
    margin-bottom: 20px;
}

.public-tab >h2 {
    font-size: 20px;
}

.pic-radio {
    margin-left: 20px;
}

img{width:200px; height:200px;}

.itemRow .itemTitle {
    height: 20px;
    line-height: 20px;
    ow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
    padding-top: 10px;
    padding-left: 12%
}

.v-unit {
    padding-left: 12%;
    padding-right: 5px;
    color: #999
}

.price {
    font-size: 20px;
    font-weight: bold;
    color: #d22147;
}

.link {
    display: block;
    border-radius: 2px;
    /*border: 1px solid;*/
    box-shadow: 1px 1px 1px 1px #888888;
}

.item-img {
    padding-left: 12%;
    padding-top: 10px;
}


.detail-div {
    padding-top: 50px;
    padding-left: 100px;
}

.index-img {
    width: 90%;
}

.detail-img {
    width: 100%;
    height: 50%;
}

.deleteButton {
    cursor: hand;
    margin-left: 20%;
    margin-bottom: 10px;
    display: None
}

.item-div:hover .deleteButton {
    cursor: hand;
    margin-left: 20%;
    margin-bottom: 10px;
    display: inline-block;
}

